<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的订购：订单列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/orals/styles.css"/>
		<style type="text/css">
			.mui-table-view .mui-media-object {
				width: 90px;
				height: 90px;
				max-width: 90px;
			}
			.mui-table-view .mui-media-object.mui-pull-left {
				margin-right: 5px;
			}
			.mui-content > .mui-content {
				position: relative;
			}
			.mui-bar-nav~.mui-content .mui-content .mui-pull-top-pocket {
				top: 0;
				visibility: visible;
			}
			#orders .mui-media-body .mui-ellipsis-title + .mui-ellipsis-2 {
				height: 34px;
				line-height: 17px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav orals-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的订购</h1>
		</header>
		
		<div class="mui-content">
			<div class="mui-content">
				<div id='scroll' class="mui-scroll-wrapper">
					<div class="mui-pull-top-pocket mui-block mui-hidden">
						<div class="mui-pull">
							<div class="mui-pull-loading mui-icon mui-icon-pulldown" style="transition: -webkit-transform 0.3s ease-in 0s; transform: rotate(0deg);"></div>
							<div class="mui-pull-caption">下拉可以刷新</div>
						</div>
					</div>
					<div id='orders' class="mui-scroll">
						<ul class="mui-table-view">
							<li v-for="item in orderList" @click.stop="toMealDetails($event,item)" class="mui-table-view-cell mui-media">
								<a href="javascript:;" v-cloak>
									<img class="mui-media-object mui-pull-left" :src="item.busimg">
									<div class="mui-media-body">
										<p class='mui-ellipsis-title'>{{item.cnname}}
											<span v-for="pn in getPrdName(item.fext)" class="mark">{{pn}}</span>
										</p>
										<p class='mui-ellipsis-2'>{{item.busnote}}</p>
										<div v-if="item.orderFlag==1" class="flex-between">
											<p class="mui-ellipsis-2">结束时间：{{item.etime}}</p>
											<button class="ul-btn btn-ordered" class="mui-btn mui-btn-mini">套餐续费</button>
										</div>
										<div v-else class="flex-between">
											<p class="mui-ellipsis-2" style="color: #3C9DFB;">{{orderPrice(item.feecode)}}元/{{item.busmonth}}月</p>
											<button class="ul-btn btn-order" class="mui-btn mui-btn-mini">立即订购</button>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<script src='../../js/utils/vconsole.min.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<!---->
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<!--<script src='../../js/utils/sortSign.js'></script>-->
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/utils.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="../../js/utils/storageutil.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="../../js/utils/events.js"></script>
		
		<script src="../../js/orals/common.js"></script>
		<script>
			var self, isLoading, rendered;
			
			mui.init({
				beforeback: function() {
					mui.fire(self.opener(), 'refush_count', {});
				}
			});
			
			window.addEventListener('refreshList', function(data) {
				getOrderList();
			});		
			
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			var publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
			var functypes = window.storageKeyName.FUNCTYPES;

			mui.plusReady(function() {
				self = plus.webview.currentWebview();

				//获取套餐表
				getOrderList();
				
				// 滚动区域
				mui('.mui-scroll-wrapper').scroll({
					indicators: false
				});
				document.querySelector('.mui-scroll-wrapper').addEventListener("scroll", function(e){
					var translateY = $('#orders.mui-scroll').css('transform').replace(/[^0-9\-\.,]/g,'').split(',').pop();
					if(translateY>95 && !isLoading) {
						console.log("刷新");
						getOrderList();
					}
				});
			});
			
			var orders = new Vue({
				el: '#orders',
				data: {
					orderList: [],
					flag: 0, //0刷新，1加载更多
					pageIndex: 1, //当前页数
					canTap: true //下拉刷新时，上拉加载能否使用 true
				},
				methods: {
					toMealDetails: function(event, item) {
						var _event = event.target;
						if($(_event).hasClass('ul-btn')) { //点击li下的button
							this.$options.methods.btnClick(item);
						} else { //点击li标签
							if(item.orderFlag == 0)
								utils.mOpenWithData("../../html/order/packageDetails_order.html", item);
							else
								utils.mOpenWithData("../../html/order/packageDetails_renew.html", item);
						}
					},
					btnClick: function(item) {
						if(item.orderFlag == 0)
							utils.mOpenWithData("../../html/order/packageOrder_paymentPage_new.html", item);
						else
							utils.mOpenWithData("../../html/order/packageRenew_paymentPage.html", item);
					},
					getPrdName: getPrdName,
					orderPrice: orderPrice
				}
			});


			//3.12.获取套餐表
			function getOrderList() {
				isLoading = true;
				var enData1 = {};
				//不需要加密的数据
				var comData1 = {
					uuid: publicParameter.uuid, //用户设备号
					bustp: '0', //套餐类型,0全部,1基本套餐,2CP套餐
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid, //系统所分配的应用ID
					// functypes: "YCYXZS",
					functypes: functypes
				};
				var ycyx_fcodes = []; //益测益学套餐功能代码串
				events.showWaiting();
				//根据餐表类型获取套餐表
				postDataEncry('SysBusType', enData1, comData1, 0, function(data1) {
					console.log("获取套餐表：");
					console.log(data1)
					events.closeWaiting();
					if(data1.RspCode == 0) {
						//主动添加是否订购字段
						for(var i = 0; i < data1.RspData.sysbus.length; i++) {
							var tempModel = data1.RspData.sysbus[i];
							tempModel.orderFlag = 0;
							tempModel.busimg = setImg(tempModel.busimg,1);
							// 获取益测益学套餐功能代码串
							tempModel.funcs.forEach(function(v){
								if(v.ftype==functypes) {
									ycyx_fcodes.push(v.fcode);
								}
							});
						}
						orders.orderList = [].concat(data1.RspData.sysbus);
						//用户已订购套餐及功能扩展栏目
						getUserBusFunc();
						
						// 根据功能获取套餐功能及扩展栏目
						// getSysBusFunc(ycyx_fcodes.join());
						
					} else {
						mui.toast(data1.RspTxt);
						isLoading = false;
					}
				});
			}
			
			//4.1.用户已订购套餐及功能扩展栏目
			function getUserBusFunc() {
				var enData1 = {};
				//不需要加密的数据
				var comData1 = {
					uuid: publicParameter.uuid, //用户设备号
					uid: personal.uid, //用户账号
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid //系统所分配的应用ID
				};
				events.showWaiting();
				//发送网络请求，data为网络返回值
				postDataEncry('GetUserBusFunc', enData1, comData1, 0, function(data1) {
					console.log("用户已订购套餐: ");
					console.log(data1);
					events.closeWaiting();
					if(data1.RspCode == 0) {
						if(data1.RspData) {
							//循环当前套餐列表
							for(var i = 0; i < orders.orderList.length; i++) {
								var orderModel = orders.orderList[i];
								// 循环用户订购套餐
								for(var a = 0; a < data1.RspData.userbus.length; a++) {
									var userBusModel = data1.RspData.userbus[a];
									//当前已订购套餐
									if(orderModel.serviceid == userBusModel.servid) {
										orderModel = $.extend(orderModel, userBusModel);
										orderModel.orderFlag = 1;
										break;
									}
								}
							}
						}
						// 已订购的排前面
						orders.orderList.sort(function(a,b){
							return b.orderFlag-a.orderFlag;
						});
						console.log('GetUserBusFunc合并后:' + JSON.stringify(orders.orderList));
						if(!rendered){
							document.querySelector('.mui-pull-top-pocket').classList.remove('mui-hidden');
							rendered = true;
						}
					} else {
						mui.toast(data1.RspTxt);
					}
					isLoading = false;
				});
			}
			
			// 3.19:套餐功能及扩展栏目
			function getSysBusFunc(fcodes) {
				var comData2 = {
					uuid: publicParameter.uuid, //用户设备号
					fcodes: fcodes, //功能代码串,留空为全部,多个用逗号隔开
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid //系统所分配的应用ID
				};
				postDataEncry('SysBusFunc', {}, comData2, 0, function(data2) {
					console.log("套餐功能: ");
					console.log(data2);
					if(data2.RspCode == 0) {
						//循环当前套餐列表
						for(var i = 0; i < orders.orderList.length; i++) {
							var orderModel = orders.orderList[i];
							orderModel.fext = []; //功能附加栏目表
							// 循环相关功能套餐
							for(var a = 0; a < data2.RspData.sysfunc.length; a++) {
								var sysFuncModel = data2.RspData.sysfunc[a];
								//当前套餐的功能栏目
								if(orderModel.fcodes.indexOf(sysFuncModel.fcode) != -1) {
									orderModel.fext=sysFuncModel.fext;
								}
							}
						}
					} else {
						mui.toast(data2.RspTxt);
					}
				});
			}
			
// 			orders.orderList = [
// 				{"funcs":[{"fcode":"ycyx04","itemcode":null,"itemsons":null}],"serviceid":"tcycyx04","feecode":"10","cnname":"益测益学（小初）","fcodes":"ycyx04","busmonth":1,"bustype":1,"busnote":"以测试的形式发现学习特长（小初）","note":"","busimg":"../../img/auto_order_img.png","orderFlag":1,"busext":[{"forid":106,"fcode":"ycyx04","itemcode":"prd","itemsons":"2|小学"}],"forid":106,"uid":"ceshi01","utname":null,"servid":"tcycyx04","servtype":1,"cname":"益测益学（小初）","stime":"2018.11.14","etime":"2018.12.14","frmtype":0,"serstat":1},
// 				{"funcs":[{"fext":null,"fid":0,"fcode":"YCYX02","ftype":"YCYXZS","fname":"益测益学（初中）","frange":null,"fset":null,"fnote":null,"fdes":null}],"serviceid":"tcycyx02","feecode":"10","cnname":"益测益学（初中）","fcodes":"YCYX02","busmonth":1,"bustype":1,"busnote":"以测试的形式发现学习特长（初中）","note":"","busimg":"../../img/auto_order_img.png","orderFlag":0},
// 				{"funcs":[{"fext":null,"fid":0,"fcode":"YCYX03","ftype":"YCYXZS","fname":"益测益学（高中）","frange":null,"fset":null,"fnote":null,"fdes":null}],"serviceid":"tcycyx03","feecode":"10","cnname":"益测益学（高中）","fcodes":"YCYX03","busmonth":1,"bustype":1,"busnote":"以测试的形式发现学习特长（高中）","note":"","busimg":"../../img/auto_order_img.png","orderFlag":0},
// 				{"funcs":[{"fext":null,"fid":0,"fcode":"YCYX03","ftype":"YCYXZS","fname":"益测益学（高中）","frange":null,"fset":null,"fnote":null,"fdes":null}],"serviceid":"tcycyx03","feecode":"10","cnname":"益测益学（高中）","fcodes":"YCYX03","busmonth":1,"bustype":1,"busnote":"以测试的形式发现学习特长（高中）","note":"","busimg":"../../img/auto_order_img.png","orderFlag":0},
// 				{"funcs":[{"fext":null,"fid":0,"fcode":"YCYX03","ftype":"YCYXZS","fname":"益测益学（高中）","frange":null,"fset":null,"fnote":null,"fdes":null}],"serviceid":"tcycyx03","feecode":"10","cnname":"益测益学（高中）","fcodes":"YCYX03","busmonth":1,"bustype":1,"busnote":"以测试的形式发现学习特长（高中）","note":"","busimg":"../../img/auto_order_img.png","orderFlag":0},
// 				{"funcs":[{"fext":null,"fid":0,"fcode":"YCYX03","ftype":"YCYXZS","fname":"益测益学（高中）","frange":null,"fset":null,"fnote":null,"fdes":null}],"serviceid":"tcycyx03","feecode":"10","cnname":"益测益学（高中）","fcodes":"YCYX03","busmonth":1,"bustype":1,"busnote":"以测试的形式发现学习特长（高中）","note":"","busimg":"../../img/auto_order_img.png","orderFlag":0},
// 				{"funcs":[{"fext":null,"fid":0,"fcode":"YCYX03","ftype":"YCYXZS","fname":"益测益学（高中）","frange":null,"fset":null,"fnote":null,"fdes":null}],"serviceid":"tcycyx03","feecode":"10","cnname":"益测益学（高中）","fcodes":"YCYX03","busmonth":1,"bustype":1,"busnote":"以测试的形式发现学习特长（高中）","note":"","busimg":"../../img/auto_order_img.png","orderFlag":0},
// 				{"funcs":[{"fext":null,"fid":0,"fcode":"ycyx01","ftype":"YCYXZS","fname":"益测益学（小学）","frange":null,"fset":null,"fnote":null,"fdes":null}],"serviceid":"tcycyx01","feecode":"10","cnname":"益测益学（小学）","fcodes":"ycyx01","busmonth":1,"bustype":1,"busnote":"以测试的形式发现学习特长（小学）","note":"","busimg":"../../img/auto_order_img.png","orderFlag":0}
// 			];
		</script>
	</body>

</html>